<%- include("./partials/header") -%>
<div class="contain">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title text-center mt-3">Quiz App</h5>
      <p class="card-text text-center mt-3">
        This is a quiz web application built with node js
      </p>
      <div class="mt-4 btnContainer ">
        <a href="/question" class="btn btn-primary">Start</a>
        <a href="/addQuestion" class="btn btn-primary">Add questions</a>
      </div>
      
    </div>
  </div>
</div>

<%- include("./partials/footer") -%>
