<%- include("./partials/header") -%>
  <div class="contain">
    <div class="card">
      <h3 class="question"><%=question%></h3>
      <div class="options">
        <% options.map((option,key)=>{%>
          <label class="radio" >
	        <input required  type="radio" name="optradio"  ><%=option%>
          </label
        <%})%>
        >
      </div>
      <button type="submit" class="next">next</button>
    </div>

  </div>
<%- include("./partials/footer") -%>
